@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --color-primario :#0A3871;
    --color-secundario :#D8DFE8;
    --color-terciario :#495057;
    --tipografia-font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-alura{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.cabecera-del-contenido{
    border: solid 5px yellow;
}

.contenido{
    border: solid 5px green;
}

.contenido__seccion{
    background-color: aqua;
}

.contenido__seccion__encriptador {
    width: 36.063rem;
    height: auto;
    margin-top: 10.5rem ;
    margin-bottom: 45rem;
    margin-left: 15rem ;
    padding: 1.563rem 1.563rem 1.875rem;

    background-color: blue;

}

.contenido__seccion__texto{
    text-align: center;
    color: aqua;
}

.contenido{
    display: flex;
    justify-content: space-between;
}

.contenido__seccion__dessencriptadpor{
    width: 25rem;
    height: 59rem;
    top: 2.5rem;
    left: 62.5rem;
    gap: 0px;
    border-radius: 2rem;
    opacity: 0px;
    background: yellow;
}

.contenido__seccion__imagen{
    width: 21rem;
    height: 304px;
    margin-top: 19rem;
    overflow: hidden;
}

#inputText{
    width: 100%;
    min-height: 3.125rem;
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    box-sizing: border-box;
    resize: none;
    outline: none;
    font-family: var(--tipografia-font-family);
    font-weight: 400;
    overflow: hidden;
}

.contenido__seccion__imagen{
    width: 21rem;
    height: 19rem;
    top: 17.688rem;
    left: 64.5rem;
    gap: 0px;
    opacity: 0px;
}

#outputText{
    position: relative;
    top: 2.5rem;
    left: 7.5rem;
}

p{
    background-color: red;
}

.div__botones{
    width: Fixed 42.5rem;
    height: Hug 4.188rem;
    top: 55.313rem;
    left: 15rem;
    gap: 1.5rem;
    opacity: 0px;

    border: solid 5px black;
}

#encriptarBtn {
    width: Fixed 20.5rem;
    height: Hug 4.188rem;
    padding: 1.5rem 0px 0px 0px;
    gap: 0.5rem;
    border-radius: 1.5rem;
    border: 0.063rem;
    opacity: 0px;

    background-color: chartreuse;
}

#desencriptarBtn{
    width: Fixed 20.5rem;
    height: Hug 4.188rem;
    padding: 1.5rem 0px 0px 0px;
    gap: 0.5rem;
    border-radius: 1.5rem ;
    border: 0.063rem;
    opacity: 0px;
    background-color: var(--color-terciario);
}

#copiarBtn{
    background-color: cadetblue;
}

#copiarBtn{
    width: Fixed 21rem;
    height: Hug 4.188rem;
    top: 55.313rem;
    left: 64.5rem;
    padding: 1.5rem;
    gap: 0.5rem;
    border-radius: 15.5rem;
    border: 0.063rem;
    opacity: 0px;
}

p{
    width: Hug 14.313rem;
    height: Hug 1.125rem;
    top: 53.188rem;
    left: 15rem;
    gap: 0.5rem ;
    opacity: 0px;

}